.card {
    box-shadow: 2px 2px 2px 1px rgba(123, 122, 122, 0.127);
  }

  .card-header {
    background-color: rgb(34, 131, 216);
    color: #fff;
  }

  :host ::ng-deep .bs-timepicker-field {
    width: 70px;
  }