.card {
    box-shadow: 2px 2px 2px 1px rgba(123, 122, 122, 0.127);
  }

  .card-header {
    background-color: rgb(34, 131, 216);
    color: #fff;
  }

  .teste{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.127);

  }
  